@model List<Card>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>
    <div class = "header">
        <p class = "title">Welcome, @ViewBag.User.Name!<a style ="float:right; font-size:20px;" href="/logout">Logout</a></p>
        </div>
        <div class ="navBar">
          <a href="/dashboard">Dashboard</a> | 
            <a href="/create/card">Flashcards</a> | 
            <a href="/create/category">Categories</a>
    </div>
    <div class = "mainWrapper animated fadeIn">
        <p>Select a category to practice: </p>
        <button class="btn btn-primary btn-lg" onclick="window.location.href = '/practice/0';">All</button>

        @foreach (var category in ViewBag.categories)
        {
            <button class="btn btn-primary btn-lg" onclick="window.location.href = '/practice/@category.CategoryId';">@category.CategoryName</button>
        }
        </div>
</body>
