@model Category
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>
        <div class = "header">
            <p class = "title">Edit Category<a class="logout" href="/logout">Logout</a></p>
        </div>
        <div class ="navBar">
            <a href="/dashboard">Dashboard</a> | 
            <a href="/create/card">Flashcards</a> | 
            <a href="/create/category">Categories</a>
        </div>
<div class = "mainWrapper animated fadeIn">
     <form  asp-action="UpdateCategory" asp-controller="Dashboard" method="post">
                <p class = "pageTitle">Edit Category</p>
                <span asp-validation-for="CategoryName"></span><br>
                <label asp-for="CategoryName"></label><br>
                <input class="form-control form-control-lg" asp-for="CategoryName"><br>
                <button class="btn btn-primary btn-lg">Update</button>
                <a href="/delete/category/@Model.CategoryId">Delete</a>
    </form> 
</div>
    <div class = "footer">
        <p>Vlad Dziun ©2020</p>
    </div>
</body>