@model Card
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css"/>
<body>
    <h1>EditFlashcard</h1>
    <a href="/logout">Logout</a>
    <a href="/dashboard">Dashboard</a>

     <form  asp-action="UpdateCard" asp-controller="Dashboard" method="post">
                <p>Edit Flashcard</p>
                <span asp-validation-for="FrontText"></span><br>
                <label asp-for="FrontText"></label><br>
                <input class="form-control form-control-lg" asp-for="FrontText"><br>
                <span asp-validation-for="BackText"></span><br>
                <label asp-for="BackText"></label><br>
                <input class="form-control form-control-lg" asp-for="BackText"><br>
                <span asp-validation-for="CategoryId"></span><br>
                <label asp-for="CategoryId"></label><br>
                <select asp-for="CategoryId">
                    @foreach (var category in @ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select><br>
                <button class="btn btn-primary btn-lg">Add</button>
    </form>
</body>
</head>