@model Card
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body>
        <div class = "header">
            <p class = "title">Edit Flashcard<a class="logout" href="/logout">Logout</a></p>
        </div>
        <div class ="navBar">
            <a href="/dashboard">Dashboard</a> | 
            <a href="/create/card">Flashcards</a> | 
            <a href="/create/category">Categories</a>
        </div>
<div class = "mainWrapper animated fadeIn">
     <form  asp-action="UpdateCard" asp-controller="Dashboard" method="post">
                <p>Edit Flashcard</p>
                <span asp-validation-for="FrontText"></span>
                <label asp-for="FrontText"></label>
                <input class="form-control form-control-lg" asp-for="FrontText">
                <span asp-validation-for="BackText"></span>
                <label asp-for="BackText"></label>
                <textarea rows="10" style = "resize: none; font-size:14px;" class="form-control" aria-label="With textarea" asp-for="BackText"></textarea>
                <span asp-validation-for="CategoryId"></span>
                <label asp-for="CategoryId"></label><br>
                <select class="form-control" style ="font-size:12px;" asp-for="CategoryId">
                    @foreach (var category in @ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select><br>
                <button class="btn btn-primary btn-lg">Update</button>
    </form>
    <!-- <button class="btn btn-danger btn-lg" onclick="window.location.href = '/delete/card/@Model.CardId';">Delete</button> -->
    </div>
        <div class = "footer">
        <p>Vlad Dziun ©2020</p>
    </div>
</body>