@model LoginUser
<form class = "login" asp-action="Login" asp-controller="Home" method="post">
        <p>Log In</p>

        <label asp-for="LoginEmail"></label>
        <span asp-validation-for="LoginEmail"></span>
        <input type="email" class="form-control form-control-lg" asp-for="LoginEmail">
        
        <label asp-for="LoginPassword"></label>
        <span asp-validation-for="LoginPassword"></span>
        <input type="password" class="form-control form-control-lg" asp-for="LoginPassword">
<br>
<button class="btn btn-primary btn-lg">Login</button>
</form>
<br>
