/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* * { 
    outline: 1px dotted red; 
} */

body {

    font-size: 20px;
    background-color: rgb(59, 59, 59);
    
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin: 5px;
}
.login{
    font-size: 20px;
    display: inline-block;
    margin-left: 20%;
    max-width: 1500px;
    background-color:#8080801c;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 45px;;
}
.login input{
    font-size: 20px;
}
.register input{
    font-size: 20px;
}
.register{  
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    max-width: 450px;
    background-color:#8080801c;
    border-radius: 5px;
    padding: 15px;
}
.register label{
    font-weight: lighter;
}
.login label{
    font-weight: lighter;
}
.title{
    margin: auto;
    color:white;
}
.loginWrapper{
    color:black;
    vertical-align: top;
    margin: auto;
    padding: 40px;  
}
.mainWrapper{
    max-width: 1500px;
    max-height: 1000px;
    padding: 3%;
    color:black;
    vertical-align: top;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;  
}
.mainContent{
    max-width: 1200px;
    max-height: 1000px;
    min-height: 300px;
    padding: 3%;
    color:black;
    vertical-align: top;
    margin: auto;
    width: 50%;
    padding: 10px; 
    border: 1px solid #000000; 
}
.cardBack{
    text-align: center;
}
.mainContentWrapper{
    max-width: 1500px;
    max-height: 1000px;
    padding: 3%;
    color:black;
    vertical-align: top;
    text-align: center; 
    margin: auto;
    width: 50%;
    padding: 10px;  
}
.buttonWrapper{
    margin: auto;
    width: 50%;
    padding: 10px;  
    text-align: center; 
}
.navBar{
    margin: auto;
    width: 50%;
    padding: 10px;  
}
.header{
    font-size: 25px;
    background-color:#1f1e1e;
    /* border-radius: 5px; */
    padding: 8px; 

}
.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color:#1f1e1e;
    /* border-radius: 5px; */
    padding: 23px; 
    margin-top:15px;
}
.footer p{
    font-size: 10px;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 9080px;
    margin: 0px;
    
}
.register span{  
      color: red;
      font-size: 12px;   
}
.login span{
    color: red;
    font-size: 12px;   
}
.mainWrapper span{
    color: red;
    font-size: 12px;   
}
.cardFront {
    text-overflow: ellipsis;    
  }
  .table {
    margin-bottom: 45px;;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 500px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .loginWrapper{
        color: black;
        padding: 0%;
        position: absolute;
        left: 54%;
        top: 53%;
        width: 73%;
        margin-top:18%;
        transform: translate(-50%, -50%);
    }
    .login{
        font-size: 15px;
        display: inline-block;
        width: 90%;
        margin-top:5%;
        margin-left: 0px;
        background-color:#8080801c;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 45px;;
    }
    .login input{
        font-size: 10px;
    }
    .register input{
        font-size: 10px;
    }
    .register{  
        font-size: 15px;
        display: inline-block;
        vertical-align: top;
        width: 90%;
        background-color:#8080801c;
        border-radius: 5px;
        padding: 15px;
    }
    .navBar{
        margin: auto;
        width: 100%;
        padding: 10px;  
    }
    .mainContentWrapper{
        max-width: 1500px;
        max-height: 1000px;
        padding: 3%;
        color:black;
        vertical-align: top;
        text-align: center; 
        margin: auto;
        width: 100%;
        padding: 10px;  
    }
    .mainWrapper{
        font-size:14px;
        max-width: 400px;
        max-height: 400px;
        padding: 3%;
        color:black;
        vertical-align: top;
        margin: auto;
        width: 100%;
        padding: 10px;  
        margin-bottom: 20px;
    }
    .mainContent{
        max-width: 1200px;
        max-height: 1000px;
        min-height: 300px;
        padding: 3%;
        color:black;
        vertical-align: top;
        margin: auto;
        width: 100%;
        padding: 10px; 
        border: 1px solid #000000; 
    }
    .footer{
        position: absolute;
        bottom: 0;
        width:100%;
        background-color:#3c3c3c;
        /* border-radius: 5px; */
        padding: 23px; 
        margin-top:15px;
        display: none;
    }
    .table {
        margin-bottom: 55px;;
    }
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}
.logout{
    margin-right: 10px;
    margin-right: 5px;
    float:right; 
    font-size:20px;
}
.table{
    margin-bottom: 30%;;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
    line-height: 1.428571;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
@media screen and (max-width: 500px) {
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 2px;
        line-height: 1.428571;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(212, 211, 211);
    background-color: rgb(94, 94, 94);
    background-clip: padding-box;
    border: 1px solid #3d3d3d;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: white;
    border-color: #2689ec;
    background-color: rgb(94, 94, 94);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(94, 94, 94);
  }
.mainWrapper{
    color:white;
}
.table{
    color:white;
}
.login{
    color:white;
}
.register{
    color:white;
}
.pageTitle{
    font-size: 24px;
    font-weight: bold;
}
.table{
    font-size: 16px;
}
.navBar{
    color:rgb(94, 94, 94);
}
.mainContent{
    background-color: rgb(94, 94, 94);
    border-color: #3d3d3d;
    border-radius: 3px;
}
.mainContentWrapper{
    color:white;
}
